.button-google-store {
    background: url(../assets/image/Google_Play.png);
    background-size: contain;
    height: 53px;
    width: 180px;
}

.button-app-store {
    background: url(../assets/image/App_Store.png);
    background-size: contain;
    height: 53px;
    width: 180px;
}

.button-medium {
    background: url(../assets/icons/medium_icon.svg);
    background-size: contain;
    height: 30px;
    width: 30px;
}

.button-instagram {
    background: url(../assets/icons/instagram_icon.svg);
    background-size: contain;
    height: 30px;
    width: 30px;
}

.button-tg {
    background: url(../assets/icons/tg_icon.svg);
    background-size: contain;
    height: 30px;
    width: 30px;
}

.button-facebook {
    background: url(../assets/icons/facebook_icon.svg);
    background-size: contain;
    height: 30px;
    width: 30px;
}

.button-twitter {
    background: url(../assets/icons/twitter_icon.svg);
    background-size: contain;
    height: 30px;
    width: 37px;
}

.button-youtub {
    background: url(../assets/icons/youtub_icon.svg);
    background-size: contain;
    height: 26px;
    width: 38px;
}

.button-vk {
    background: url(../assets/icons/vk_icon.svg);
    background-size: contain;
    height: 25px;
    width: 41px;
}