.block-ecosystem {
    background: url(../../../assets/image/background/ecosystem.png) center no-repeat;
    background-size: contain;
    position: relative;
}
.block-how-it-work .block-padding {
    padding-bottom: 0;
}
.block-ecosystem:before {
    content: '';
    right: 0;
    bottom: -100px;
    width: 100%;
    height: 100%;
    background: url(../../../assets/image/background/gradient-blue.png) no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
}
.block-ecosystem:after {
     content: '';
     position: absolute;
     left: 0;
     top: -250px;
     width: 100%;
     height: 100%;
     background: url(../../../assets/image/background/gradient-red.png) right no-repeat;
     background-size: contain;
    z-index: -1;
}
.block-ecosystem-list {
    width: 50%;
    padding: 30px;
    position: relative;
    background: url(../../../assets/image/background/blur.png) no-repeat;
    background-size: cover;
}
.block-ecosystem-list-red {
    border: 1px solid #FC1531;
    margin-bottom: 130px;
}
.block-ecosystem-list-blue {
    border: 1px solid #78F9FF;
}
.block-ecosystem-list-red:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 19px;
    height: 19px;
    background: url(../../../assets/image/icons/tringle-red.svg) no-repeat;
}
.block-ecosystem-list-blue:before {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     display: block;
     width: 19px;
     height: 19px;
     background: url(../../../assets/image/icons/tringle-blue.svg) no-repeat;
}
.block-ecosystem-list-title {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    display: block;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.block-ecosystem-list ul {
    padding: 0;
    margin: 0;
}
.block-ecosystem-list li {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.block-ecosystem-list-red li:before {
    content: '';
    display: block;
    min-width: 22px;
    height: 3px;
    margin-right: 25px;
    background: url(../../../assets/image/icons/list-before-red.svg) no-repeat;
}

.block-ecosystem-list-blue li:before {
    content: '';
    display: block;
    min-width: 22px;
    height: 3px;
    margin-right: 25px;
    background: url(../../../assets/image/icons/list-before-blue.svg) no-repeat;
}
