.block-how-it-work {
    background: url(../../../assets/image/background/nfc-coin.png) top no-repeat;
    background-size: cover;
    position: relative;
}
.block-how-it-work-title {
    padding-top: 200px;
}
.block-how-it-work:before {
    content: '';
    right: 0;
    bottom: -100px;
    width: 100%;
    height: 100%;
    background: url(../../../assets/image/background/gradient-red-left.png) no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
}
.block-how-it-work:after {
    content: '';
    position: absolute;
    left: 0;
    top: -250px;
    width: 100%;
    height: 100%;
    background: url(../../../assets/image/background/gradient-blue-right.png) right no-repeat;
    background-size: contain;
    z-index: -1;
}
.block-how-it-work-image {
    position: relative;
    width: 80%;
}
.block-how-it-work-item {
    border: 1px solid #FC1531;
    background: url(../../../assets/image/background/blur-sm.png) no-repeat;
    background-size: cover;
    width: 250px;
    position: relative;
    padding: 25px;
}
.block-how-it-work-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 19px;
    height: 19px;
    background: url(../../../assets/image/icons/tringle-red-sm.png) no-repeat;
}
.block-how-it-work-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.block-how-it-work-text:before {
    content: '';
    min-width: 60px;
    height: 60px;
    background: url(../../../assets/image/icons/nfc-red.svg) no-repeat;
    display: block;
    margin-right: 15px;
}
.block-how-it-work-item:nth-of-type(1) {
    position: absolute;
    top: 120px;
    left: 35%;
}
.block-how-it-work-item:nth-of-type(2) {
    position: absolute;
    top: 47%;
    left: -10%;
    width: 280px;
}
.block-how-it-work-item:nth-of-type(3) {
    position: absolute;
    top: 60%;
    left: 48%;
}
.block-how-it-real-work .block-padding {
    padding-bottom: 0;
}
.block-really-work-item {
    width: 340px;
    height: 150px;
    border: 1px solid #645E5E;
    padding: 20px;
    margin: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-really-work-item:before {
    content: '';
    background: url(../../../assets/image/icons/plus.svg) no-repeat;
    display: block;
    width: 26px;
    height: 26px;
    background-size: 26px;
}
.block-really-work-label {
    color: #fff;
    font-size: 18px;
    padding: 0 0 0 35px;
}
@media (max-width: 1100px) {
    .title-wrapper {
        margin-bottom: 30px;
    }
    .block-how-it-work .flex-space-between {
       display: block;
    }
    .block-how-it-work-image {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .block-how-it-work-title {
        padding-top: 0;
    }
    .block-how-it-work-item:nth-of-type(2) {
        top: 230px;
        left: 15px;
    }
    .block-how-it-work-item:nth-of-type(3) {
        position: absolute;
        top: 340px;
        left: auto;
        right: 0;
    }
}
@media (max-width: 1024px) {
    .block-how-it-work-text {
        font-size: 16px;
    }
    .block-how-it-work-text:before {
        min-width: 40px;
        height: 40px;
        background-size: 40px;
    }
    .block-how-it-work-item {
        width: auto;
    }
    .block-how-it-work-item:nth-of-type(2){
        width: auto;
    }
    .scrollable {
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 30px;
    }
}
@media (max-width: 575px) {
    .block-how-it-work-item:nth-of-type(1),
    .block-how-it-work-item:nth-of-type(3) {
        left: 0;
        right: auto;
    }

    .block-how-it-work-item:nth-of-type(2) {
        left: -15px;
        right: auto;
    }
    .block-how-it-work-image img{
        height: 80%;
        width: 100%;
        object-fit: cover;
    }
    .scrollable > div{
        width: 100%;
    }
    .block-really-work-item {
        width: 100%;
        margin: 0 0 20px;
        height: auto;
        min-height: 120px;
    }
    .block-really-work-label {
        font-size: 16px;
    }
}
