.block-subscribe {
    padding: 140px 0 180px;
    background: url(../../../assets/image/background/subscribe.png) center no-repeat;
    background-size: cover;
    position: relative;
}
.block-subscribe-container {
    max-width: 1080px;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
}
.block-subscribe-form {
    padding: 50px 70px 70px;
    border: 1px solid #fff;
    position: relative;
    background: url(../../../assets/image/background/subscribe-form.png) center no-repeat;
    background-color: #000;
    background-size: cover;
}
.block-subscribe-form:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../../assets/image/icons/tringle-wh.png) no-repeat;
}
.block-subscribe-button {
    background: url(../../../assets/image/background/red-button.svg) no-repeat;
    background-size: contain;
    height: 58px;
    min-width: 205px;
    transition: filter 0.2s ease;
    cursor: pointer;
    position: relative;
    right: 15px;
}
.block-subscribe-button a {
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    height: 100%;
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-subscribe-button a:hover {
    color: #fff;
}
.block-subscribe-button:hover {
    filter: brightness(0.8);
}
.block-subscribe-button:active {
    animation: clickButton 0.5s ease;
}
.block-subscribe-title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px;
}
.block-subscribe-text {
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    display: block;
    margin-bottom: 50px;
}
.title-md-wrapper {
    width: 64%;
}
.form-group {
    width: 74%;
    position: relative;
}
.error {
    position: absolute;
    top: -30px;
    color: #FC1531;
    font-size: 14px;
    display: none;
}
.form-input {
    width: 100%;
    height: 56px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 10px 15px;
    transition: all 0.2s ease;
}
.form-input:focus {
    border-color: #FC1531;
}
@keyframes clickButton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(1);
    }
}


@media (max-width: 1024px) {
   .title-md-wrapper {
       width: 100%;
   }
    .block-subscribe-title {
        font-size: 28px;
    }
    .block-subscribe-text {
        font-size: 16px;
    }
    .block-subscribe {
        padding: 60px 0 80px;
    }
    .form-group {
        width: 100%;
        flex-wrap: wrap;
    }
    .block-subscribe-button {
        margin:20px auto 0;
    }
    .block-subscribe-form {
        padding: 20px 30px 30px;
    }
}
