@import "./modules/colors-helper.css";
@import "./modules/fonts.css";
@import "./modules/global.css";
@import "./modules/display-helper.min.css";
@import "./modules/margin-padding-helper.min.css";
@import "./modules/reset.css";
@import "./modules/font-size-helper.css";
@import "./modules/components.css";

@import "./components/login-page.css";
@import "./components/investing_rounds.css";
@import "./components/seed_rounds.css";
@import "./components/affilate_program_page.css";
@import "./components/holding_page.css";

@import "./common/header.css";

html body {
  font-family: 'TTSquaresCondensed';
  background-color: #161616;
  background-image: url(../assets/image/background.svg);
  color: #FFFFFF;
}

html, body, .wrapper {
  height: 100%;
}

a {
  text-decoration: none;
}

.main {
  padding: 28px 30px;
  min-height: 80%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}